<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>FindMyAisle Generator Pag</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .jumbotron {
    background-color: green;
    color: #fff;
    padding: 100px 25px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  
  .navbar {
  margin-bottom: 0;
  background-color: black;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
  </style>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#services"></a></li>
        <li><a href="#portfolio"></a></li>
        <li><a href="#pricing"></a></li>
        <li><a href="#contact"></a></li>
      </ul>
    </div>
  </div>
</nav>



<div class="jumbotron text-center">
  <h1>FindMyAisle Generator</h1> 
  <p>Let us find your items for you!</p> 
  <form class="form-inline">
    <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button"  data-toggle="dropdown">Find My Items
  <span class="caret"></span></button>
  <ul class="dropdown-menu dropdown-menu-center">
    <li><a href="#">Grocery</a></li>
    <li><a href="#">Items</a></li>
    <li><a href="#">goes here!</a></li>
  </ul>
</div>
  </form>
</div>

<!-- Container (About Section) -->
<div class="container-fluid bg-grey">
  <h2>About Us</h2>
  <h4>Lorem ipsum..</h4>      
  <p>Lorem ipsum..</p>
  <button class="btn btn-default btn-lg">Get in Touch</button>
</div>


</body>
</html>
