<html>
   <%= image_tag("logo.png", class: "img-responsive center-block" , :alt=> "logo", :width=> "20%", :height=> "10%") %>
<style>
    p {
        /*Possibly change the text color to white?*/
        color: green;
        text-align: center;
    }
    
    button{
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        display: inline-block;
        margin: 10px;
    }
    
    div { 
        text-align: center;
    }
    
    /*This is the code for the webpage background (Ctrl + forward slash, to comment/uncomment)*/
    /*body {*/
    /*    background-color: green;*/
    /*}*/
    
</style>

<body>
    <p>Welcome to Harris Teeter - University City Blvd</p>

    <%= image_tag("harrisTeeter.jpg", class: "img-responsive center-block" , :alt=> "harrisTeeter") %>

<div>
    <form method="get" action="main/new">
        <button type="submit">Get Started!</button>
    </form>
    
</div>
</body>
</html>
